* {
    margin: 0;
    padding: 0;
}

.navbar li{
    font-size: smaller;
    font-family: "Montserrat", sans-serif;
}


.video-container video{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

#main-img img {
    max-width: 50%; 
}

#main-text p{
    margin-top: 20px;
    color: gray;
    font-size: 1.4em;
    padding-inline: 100px;
    font-family: "Montserrat", sans-serif;
}

.acc-text{
    font-size: large;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

.accordion strong{
    font-size: medium;
    color: gray;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

#os-text-box{
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

#footer{
    font-family: "Montserrat", sans-serif;
}


  